%% ; -*- mode: Erlang;-*-

{lib_dirs, ["../../apps","../../deps","../../deps/folsom/"]}.
{deps, [
	{erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", {branch, "master"}}},
	{folsom, ".*", {git, "git://github.com/boundary/folsom.git", {branch, "master"}}},
	{gen_leader, ".*", {git, "git://github.com/abecciu/gen_leader_revival.git", "HEAD"}},
	{gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "HEAD"}},
	{lager, "2.0.1", {git, "git://github.com/basho/lager", {tag, "2.0.1"}}}
       ]}.


{cover_enabled, false}.
{erl_opts, [debug_info, "TEST", {src_dirs, ["src"]}]}.
{edoc_opts, [{dir, "doc"}]}.
{lib_dirs, ["apps", "deps"]}.
{eunit_opts, [verbose, "TEST"]}.
