%% ; -*- mode: Erlang;-*-

{lib_dirs, ["../../apps","../../deps","../../deps/folsom/"]}.
{deps, [	
	{folsom, ".*", {git, "git://github.com/boundary/folsom.git", "HEAD"}},
	{gen_leader, ".*", {git, "git://github.com/abecciu/gen_leader_revival.git", "HEAD"}},
	{gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "HEAD"}},
	{lager, ".*", {git, "git://github.com/basho/lager", "HEAD"}}
       ]}.


{cover_enabled, false}.
{erl_opts, [debug_info, {src_dirs, ["src"]}]}.
{edoc_opts, [{dir, "doc"}]}.
{lib_dirs, ["apps", "deps"]}.
{eunit_opts, [verbose]}.
