{release, {rivus_cep, "0.1"},
    [gproc,
     lager,
     folsom,
     gen_leader,
     rivus_cep,
     observer,
     wx,
     runtime_tools, tools]}.

{extended_start_script, true}.

{overlay_vars, "rel/vars.config"}.

{overlay, [
    {mkdir, "log/sasl"},
    {copy, "rel/files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "rel/files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
    {copy, "rel/files/rivus_cep", "bin/rivus_cep"},
    {copy, "rel/files/rivus_cep.cmd", "bin/rivus_cep.cmd"},
    {copy, "rel/files/start_erl.cmd", "bin/start_erl.cmd"},
    {copy, "rel/files/install_upgrade.escript", "bin/install_upgrade.escript"},
    {template, "rel/files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
   %% {template, "rel/files/app.config", "etc/app.config"},
    {template, "rel/files/vm.args", "etc/vm.args"}
]}.

%% {overlay, [{mkdir, "log/sasl"},
%%     {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
%%     {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
%%     {template, "files/app.config", "etc/app.config"},
%%     {template, "files/vm.args", "etc/vm.args"}]}.
