{mode, max}.

{duration, 5}.

{concurrent, 2}.

{driver, basho_bench_driver_rivus}.

{operations, [{notify, 1}]}.

{key_generator, {uniform_int, 10000}}.
{value_generator, {function, rivus_cep_event_gen, generate_event, [event11, 4]}}.

{rivus_cep_queries,[{event, "define event11 as (attr1, attr2, attr3, attr4); "},
                    {query, "define correlation11 as
                                select sum(ev1.attr1)
                                from event11 as ev1
                                within 60 seconds; "}]}.